.SectionHeader {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-top: 2%;
    margin-bottom: 3%;
}

.divHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    margin: 15px;
}

a {
    margin: 10px;
}