.SectionHeader {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* border: 1px solid white */;
}

.iconReact {
    margin: 15px;
    color: whitesmoke;
}

.divHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid white */
}

/* button {
    margin: 15px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
} */

a {
    margin: 15px;
    text-decoration: none;
    color: whitesmoke;
}