.SectionHeader {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    border: 1px solid white;
}

.divHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid white
}

/* button {
    margin: 15px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
} */

a {
    margin: 15px;
    text-decoration: none;
    color: whitesmoke;
}