.SectionMain {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

/* .divSobre {
    transition:all 2s;
}

.divQuali {
    transition: all 1s;
}

.divProjetos {
    transition: all 1s;
} */