.SectionMain {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

/* .divSobre {
    display: none;
}

.divQuali {
    display: none;
}

.divProjetos {
    display: none;
} */