#divAppGrad {
    border: 1px solid white;
    width: 82vw;
    height: 72vh;
    margin: auto;
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

#divAppMaior {
    border: 1px solid white;
    width: 80vw;
    height: 70vh;
    margin: auto;
}

.divPrincipal {
    display: flex; /* https://www.alura.com.br/artigos/css-guia-do-flexbox?gclid=Cj0KCQjw4s-kBhDqARIsAN-ipH0HC9kui6aa1P4XftzCiED-CF3GzKIHquiPAyELKqTsst00dUre5IgaAoc4EALw_wcB */
    flex-direction: row;
    height: 100%; /*https://www.alura.com.br/artigos/guia-de-unidades-no-css */
}